
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <h5 class="mb-3">Get in touch</h5>
                    <ul class="list-unstyled">
                        <li><a href="tel:9516667268" class="text-muted text-decoration-none">9516667268</a></li>
                        <li><a href="mailto:sunilpal05399@gmail.com" class="text-muted text-decoration-none">sunilpal05399@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-4">
                    <h5 class="mb-3">About</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted text-decoration-none">About Us</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Awards &amp; Recognitions</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Student Achievement</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Upcoming Events</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-4">
                    <h5 class="mb-3">Section</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted text-decoration-none">Circulars &amp; Notices</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Transfer Certificates</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Fee Structure</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Activity Integration</a></li>
                        <li><a href="#" class="text-muted text-decoration-none">Track Your Bus</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-4">
                    <h5 class="mb-3">Follow Us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center py-3">
                <p class="text-muted mb-0">© 2024 Company, Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>

