<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/image/sns-new-logo.png" alt="" class="w-50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownHome" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Home
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownHome">
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Desk Of Directors</a></li>
                        <li><a class="dropdown-item" href="#">Desk Of Principal</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownAboutUs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownAboutUs">
                        <li><a class="dropdown-item" href="#">About</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownCourse" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Course
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownCourse">
                        <li><a class="dropdown-item" href="#">Course</a></li>
                        <li><a class="dropdown-item" href="#">Assessments</a></li>
                        <li><a class="dropdown-item" href="#">Inclusive Practices</a></li>
                        <li><a class="dropdown-item" href="#">Board Results</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownContactUs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contact Us
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownContactUs">
                        <li><a class="dropdown-item" href="#">Contact Information</a></li>
                        <li><a class="dropdown-item" href="#">Curriculum</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownMyAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownMyAccount">
                        <li><a class="dropdown-item" href="#">Contact Information</a></li>
                        <li><a class="dropdown-item" href="#">Curriculum</a></li>
                    </ul>
                </li>
                <li>
                    

                </li>
                
            </ul>
            <a class="nav-link  text-uppercase fw-bold d-flex align-items-center" href="#" >
                <%= n %>
            </a>
            <div class="d-flex align-items-center">
                <div class="nav-item me-2 dropdown">
                    <a class="nav-link dropdown-toggle p-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="<%= i.url %>" alt="User Profile" class="rounded-circle ms-2" style="width: 40px; height: 40px;">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/setting">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
                <a href="/logout" class="btn btn-primary">
                    LOGOUT
                </a>
            </div>
            
        </div>
    </div>
</nav>

